/* styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Глобальные стили для скроллбара, 
  которые адаптируются под тему.
*/

:root {
  --p: #b53133;
  --a: #b53133;

  /* Стили скроллбара для СВЕТЛОЙ темы */
  scrollbar-color: #a6a6a6 #f1f1f1; /* thumb track */
  scrollbar-width: thin;
}

html::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

html::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

html::-webkit-scrollbar-thumb {
  background-color: #a6a6a6;
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: #8c8c8c;
}


/* Стили скроллбара для ТЕМНОЙ темы */
html.dark {
  scrollbar-color: #555 #111111; /* thumb track */
}

html.dark::-webkit-scrollbar-track {
    background-color: #2b2b2b;
}

html.dark::-webkit-scrollbar-thumb {
    background-color: #555;
}

html.dark::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}